<div class="container-fluid">
  <div class="row">

  <div class="col-xs-12 col-md-4">
    <div class="card">
      <h3 class="card-header">Find dit program!</h3>
      <div class="card-block">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Navn</span>
            <input [(ngModel)]="searchName"  name="SearchName" type="text" class="form-control" placeholder="Navn" aria-describedby="basic-addon1">
          </div>

      </div>

    </div>
  </div>
  <div class="col-xs-12 col-md-8">
    <div class="row">
      <div class="col-md-4 cardholder" *ngFor="let program of programService.programs | filter:searchName" >
      <div class="card">
        <img class="card-img-top img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0cBKcS4kLcJ6Ls_ont6CsqjeAEdb8HKFDsHNlig49ooLCBVg3_Q" alt="Card image cap">
        <div class="card-block">
          <h5 class="card-title">{{program.Title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{getDifficulty(program.SkillLevel)}} - {{getTrainingType(program.TrainingType)}}</h6>
          <p class="card-text">{{program.Description}} </p>
          <br>
          <button type="button" class="btn btn-primary btn-block hideBtn" (click)="programService.selectProgram(program.Id)">Vælg program</button>
        </div>
      </div>
          <!-- <table class="table">
        <thead>
          <tr>
            <th>Program Navn</th>
            <th>Program type</th>
            <th>Sværhedsgrad</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let program of programService.programs | filter:searchName | sort  ">
            <td>{{program.Title}}</td>
            <td>{{program.SkillLevel}}</td>
            <td>{{program.TimesToRepeat}}</td>
            <td><button type="button" class="btn btn-primary" (click)="programService.selectProgram(program.Id)">Vælg program</button></td>
          </tr>

        </tbody>
      </table> -->
  </div>
</div>

</div>
