<nav class="navbar navbar-toggleable-md navbar-light bg-faded" *ngIf="_api.Token.length > 0" >
  <button class="navbar-toggler navbar-toggler-right" (click)="isCollapsed = !isCollapsed" >
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand"><img class="logo" src="assets/img/trans-logo.png"></a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" (collapsed)="collapsed($event)"
  (expanded)="expanded($event)"
  [collapse]="isCollapsed">
    <ul class="ml-auto nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/program-list" routerLinkActive="active">Program liste</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/program" routerLinkActive="active">Lav program</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/exercise" routerLinkActive="active">Øvelser</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Log ud</a>
      </li>
    </ul>
  </div>
</nav>
<div class="body-content">
  <router-outlet></router-outlet>
</div>
