<nav class="navbar navbar-toggleable-md navbar-light bg-faded" *ngIf="login.loggedIn">
<nav class="navbar navbar-toggleable-md navbar-light bg-faded" >
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/index" routerLinkActive="active">Fitnesser</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/program-list" routerLinkActive="active">Program liste</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/program" routerLinkActive="active">Create program</a>
      </li>
      <li class="nav-item">
          <a class="nav-link active" routerLink="/exercise" routerLinkActive="active">Create Exercise</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Link</a>
      </li>
    </ul>
  </div>
</nav>
<div class="body-content">
  <router-outlet></router-outlet>
</div>
